<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-container">
        <i class="fa fa-navicon"></i>
    </div>
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Navigation</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contacts" data-bs-toggle="collapse" aria-expanded="false" aria-controls="contacts">
                <i class="fa fa-address-card-o" aria-hidden="true" ></i>
                <span class="menu-title">Contact</span>
            </a>
            <div class="collapse" id="contacts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">List Contact</a>
                        <i class="fa fa-table"></i>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Add Contact</a>
                        <i class="fa fa-plus-circle"></i>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contents" data-bs-toggle="collapse" aria-expanded="false" aria-controls="contents">
                <i class="fa fa-image" aria-hidden="true"></i>
                <span class="menu-title">Content</span>
            </a>
            <div class="collapse" id="contents">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">List Content</a>
                        <i class="fa fa-table"></i>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Add Content</a>
                        <i class="fa fa-plus-circle"></i>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#broadcasts" data-bs-toggle="collapse" aria-expanded="false" aria-controls="broadcasts">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <span class="menu-title">Broadcast</span>
            </a>
            <div class="collapse" id="broadcasts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">Schedule Broadcast</a>
                        <i class="fa fa-table"></i>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Add Content</a>
                        <i class="fa fa-plus-circle"></i>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Management</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="menu-title">User</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fa fa-group" aria-hidden="true"></i>
                <span class="menu-title">Role</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                <span class="menu-title">Unsubscribe</span>
            </a>
        </li>
    </ul>
</nav>
