<div class="container">
    <div class="row">
        <div class="card-container">
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-c-yellor f-600">10000</h4>
                                <h6 class="text-muted m-b-0">Email Sent</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="fa fa-send"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">Since today</p>
                            </div>
                            <div class="col-3">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
